body {
  background-image: url("img/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  height: 100vh;
}

h1 {
  color: #333;
  font-size: 36px;
  font-weight: 300;
  line-height: 44px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.weather-app {
  background-color: rgba(245, 245, 245, 0.75);
  max-width: 1200px;
  margin: 60px auto;
  padding: 60px 80px;
  border-radius: 8px;
}

.btn-primary {
  background-color: #d8b5b5;
  border: #d8b5b5;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #dfcdc3;
  border: #d8b5b5;
}

.info-today {
  text-align: right;
}

.day {
  font-size: 28px;
  font-weight: 200;
  margin-bottom: 0;
}

.hour {
  font-size: 21px;
}
#description {
  text-transform: capitalize;
}

.icon {
  margin-top: 32px;
  margin-bottom: 12px;
  width: 78px;
  filter: drop-shadow(4px -2px 8px #fff);
}

.temp,
.humidity,
.wind {
  font-size: 52px;
  margin-top: 32px;
  margin-bottom: 12px;
}

.legal-text {
  font-size: 11px;
  text-align: center;
  color: gainsboro;
}

.legal-text a {
  color: white;
  text-decoration: none;
}

.legal-text a:hover {
  color: gainsboro;
}

.weather-app .active {
  color: #212529;
  text-decoration: none;
  cursor: default;
}
